@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Open Sans", sans-serif;
}

.blue-ul {
  box-shadow: inset 0 0px 0 white, inset 0 -15px 0 #dcf9f3;
}

.blue-ul-sm {
  box-shadow: inset 0 0px 0 white, inset 0 -8px 0 #dcf9f3;
}

.blue-h2-ul {
  box-shadow: inset 0 0px 0 white, inset 0px 50px 0 #dcf9f3;
}

.transition-height {
  transition: height 1s;
}

.transition-opacity {
  transition: opacity 0.25s;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
